<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API BookStore</title>
</head>
<body>
    <h1>Bem-vindo à API BookStore</h1>
<h2>Lista de urls úteis:</h2>
<p>https://bookstore--api.fly.dev/bookstore/v1/order/</p>
<p>https://bookstore--api.fly.dev/bookstore/v1/order/(id)</p>
<p>https://bookstore--api.fly.dev/bookstore/v1/product/</p>
<p>https://bookstore--api.fly.dev/bookstore/v1/product/(id)</p>
<p>https://bookstore--api.fly.dev/bookstore/v1/category/</p>
<p>https://bookstore--api.fly.dev/bookstore/v1/category/(id)</p>
</body>
</html>